.form-control {
  box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control.is-invalid {
  box-shadow: none;
  background-image: none;
}

.not-allowed {
  cursor: not-allowed !important;
}