<div class="container">
  <div class="text-end pt-4">
    <button class="btn btn-outline-success" (click)="goToProductList()">
      Go to Product List
    </button>
  </div>
  
  <div class="d-flex justify-content-center">
    <div style="width: 40vw" class="card shadow">
      <div class="card shadow">
        <div class="card-header">
          <div class="row">
            <span class="text-info"
              ><strong>{{ item.productName }}</strong></span
            >
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <span class="text-primary"><strong>Id:</strong></span>
            </div>
            <div class="col-md-10 text-end">
              <span class="text-primary"
                ><b>{{ item.productId }}</b></span
              >
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-9">
              <span class="text-success"><strong>Available Item:</strong></span>
            </div>
            <div class="col-md-3 text-end">
              <span class="text-success"
                ><b>{{ item.availableCount }}</b></span
              >
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-5">
              <span class="text-danger"><strong>Brand Name:</strong></span>
            </div>
            <div class="col-md-7 text-end">
              <span class="text-danger"
                ><b>{{ item.brand }}</b></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>